body {
    margin: 0;
    height: 100vh;
    background: #121212;
    font-family: Arial, sans-serif;

    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    gap: 30px;
    align-items: center;
}

.calculator {
    background: #1f1f1f;
    padding: 15px;
    border-radius: 15px;
}

.display {
    width: 100%;
    height: 50px;
    margin-bottom: 10px;
    border: none;
    border-radius: 8px;
    font-size: 22px;
    text-align: right;
    padding: 8px;
    background: #000;
    color: #fff;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 8px;
}

button {
    height: 50px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    background: #333;
    color: #fff;
    cursor: pointer;
}

 
.operator { background: #ff9500; }
.equals { background: #00c853; }
.zero { grid-column: span 2; }

.theme {
    color: white;
}

.colors {
    display: grid;
    grid-template-columns: repeat(4, 25px);
    gap: 6px;
    margin-top: 10px;
}

.colors button {
    width: 25px;
    height: 25px;
    border-radius: 50%;
}

.blue { background: blue; }
.red { background: red; }
.purple { background: purple; }
.green { background: green; }
.gold { background: gold; }
.black { background: black; }
.white { background: white; border: 1px solid #ccc; }
.orange { background: orange; }


@media (max-width: 600px) {

    .container {
        flex-direction: column;
    }

    .calculator {
        width: 90%;
        max-width: 320px;
    }

    button {
        height: 60px;
        font-size: 18px;
    }

    .display {
        height: 60px;
        font-size: 24px;
    }
}
